@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
}
body.no-scroll {
    overflow: hidden;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    width: 15px;
    background: #e5e5e5;
    border-radius: 5px;
}
.page {
    min-height: 100vh;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 80px;
    background: #000;
}
.header.fixed {
    position: fixed;
    z-index: 500;
}
.header__logo {
    width: 80px;
    height: 80px;
    background: #FF7575;
    text-align: center;
    padding: 18px 16px;
}
.header__main-page-link {
    font-weight: bold;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.1s linear;
}
.header__main-page-link:hover {
    color: #000;
}
.header__user {
    width: 80px;
    height: 80px;
    padding: 20px;
    background: #FF7575;
    border: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.header__user:hover:after {
    transform: scale(1.2);
}
.header__user:after {
    position: absolute;
    top: 25%;
    left: 25%;
    content: "";
    width: 40px;
    height: 40px;
    background: url('../img/accountLogo.svg') no-repeat;
    transition: transform 0.1s linear;
}
.container {
    display: flex;
    width: 100%;
    height: inherit;
    max-width: 1364px;
    justify-content: space-between;
    margin: 0 auto;
}
.center {
    width: 100%;
    max-width: 1141px;
    margin: 0 auto;
    background: inherit;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.nav__link {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    width: 360px;
    padding: 7px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.nav__link:hover {
    border: 3px solid #FF7575;
}
.nav__link:active {
    color: #FF7575;
}
.test {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.test__header {
    width: 100%;
    height: 200px;
    background: #777;
}
.test__header .container {
    align-items: center;
    padding-right: 24px;
}
.test__name {
    max-width: 800px;
    max-height: 92px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
    margin-left: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.test__control-btns {
    width: 438px;
    display: flex;
    justify-content: space-between;
}
.test__continue,
.test__start {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.test__continue:after,
.test__start:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.2s linear;
}
.test__continue:hover:after,
.test__start:hover:after {
    width: 100%;
}
.test__counter-questions {
    font-size: 30px;
    line-height: 35px;
    color: #fff;
}
.test-content {
    width: 100%;
    height: 100%;
    background: #fff;
}
.test-content .container {
    position: relative;
    padding-top: 49px;
    padding-bottom: 96px;
    display: block;
}
.test-content__info,
.test-content__result {
    max-width: 1192px;
    margin-left: 65px;
    padding-top: 224px;
    font-size: 24px;
    line-height: 28px;
    background: url("../img/testLogo.svg") no-repeat 0 0;
    word-wrap: break-word;
}
.test-content__text,
.test-content__result-text {
    max-width: 900px;
}
.test-content__author {
    margin-top: 100px;
}
.test-content__author cite {
    font-style: normal;
}
.test-content__icons {
    width: 106px;
    height: 38px;
    position: absolute;
    top: 38px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.test-content__like {
    width: 41px;
    height: 38px;
    padding: 0;
    background: url("../img/likeIcon.svg") no-repeat center center;
    border: 0;
    cursor: pointer;
}
.test-content__like.pressed {
    background: url("../img/pressedLikeIcon.svg") no-repeat center center;
}
.test-content__like .visually-hidden {
    visibility: hidden;
}
.test-content__close {
    width: 38px;
    height: 38px;
    background: url("../img/closeIcon.svg") no-repeat center center;
    transition: transform 0.2s linear;
}
.test-content__close:hover {
    transform: rotate(90deg);
}
.test-content__begin {
    position: absolute;
    top: 305px;
    right: 10px;
    width: 80px;
    height: 80px;
    border: 0;
    background: url("../img/arrowNext.svg") no-repeat center center;
    cursor: pointer;
}
.test-content__begin .visually-hidden {
    visibility: hidden;
}
.swiper-button-next {
    width: 80px;
    height: 80px;
    padding: 0;
    border: 0;
    background: none;
}
.swiper-button-next:after {
    content: '';
    width: 80px;
    height: 80px;
    background: url('../img/arrowNext.svg') no-repeat center center;
}
.swiper-button-prev {
    width: 80px;
    height: 80px;
    padding: 0;
    border: 0;
    background: none;
}
.swiper-button-prev:after {
    content: '';
    width: 80px;
    height: 80px;
    background: url('../img/arrowPrev.svg') no-repeat center center;
}
.test-content__forms-submit-btn {
    position: absolute;
    left: 40%;
    bottom: 10px;
    width: 360px;
    height: 80px;
    background: #FF7575;
    border: 0;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    padding: 22px 0;
    transition: color 0.1s linear;
}
.test-content__forms-submit-btn:hover {
    color: #000;
}
.test-content__forms-submit-btn:active {
    background: #ff5b5b;
}
.questions-list {
    display: flex;
    margin: 0;
    padding: 90px 0 0 0;
}
.questions-list__item {
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
}
.questions-list__item h3 {
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000;
    margin-bottom: 70px;
}
.questions-list__item p {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 47px;
}
.questions-list__answer {
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
}
.questions-list__answer + label {
    display: inline-flex;
    align-items: center;
}
.questions-list__answer + label:before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 19px;
    border-radius: 50%;
    background: #c4c4c4;
}
.questions-list__answer + label:hover:before {
    background: #777;
}
.questions-list__answer:hover + label:before {
    background: #777;
}
.questions-list__answer:checked + label:before {
    background: #565656;
}
.hidden {
    display: none;
}
.visually-hidden {
    visibility: hidden;
}
